<div class="layout">
    <nav class="side-nav stepper-nav">
        <h2>Application Steps</h2>
        <ul>
            <li *ngFor="let step of steps; let i = index">
                <a [routerLink]="step.route" routerLinkActive="active"
                    [ngClass]="{'active': isActiveStep(step.route), 'completed': isStepCompleted(i)}">
                    <div class="step-1">
                        <div class="step-icon1">
                            <span *ngIf="isStepCompleted(i)" class="step-check">&#10003;</span>
                            <span *ngIf="!isStepCompleted(i)">{{ i + 1 }}</span>
                        </div>
                        <div class="step-label1">{{ step.label }}</div>
                    </div>
                </a><span *ngIf="i < steps.length - 1" class="step-connector"></span>
            </li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>