<mat-sidenav-container class="tdhca-sidenav-container">
    <mat-sidenav #drawer mode="side" class="tdhca-sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="drawer.close(); logNavigation('Home')">Home</a>

            <a mat-list-item routerLink="/createapplication"
                (click)="drawer.close(); logNavigation('Create Application')">Create Application1</a>
            <a mat-list-item routerLink="/account" (click)="drawer.close(); logNavigation('My Account')">My Account</a>
            <a mat-list-item routerLink="/help" (click)="drawer.close(); logNavigation('Help')">Help</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close(); logNavigation('Login')">Login</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Header and main content will go here -->
    </mat-sidenav-content>
</mat-sidenav-container>