<mat-card>
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
        <h3>Head of Household Information</h3>
        <!-- Name Fields -->
        <div class="name-fields">
            <mat-form-field appearance="fill" style="margin: 10px;"
                matTooltip="Enter your legal first name as it appears on your ID" matTooltipPosition="above">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required placeholder="First Name">
                <mat-error *ngIf="personalForm.get('firstName')?.hasError('required')">First Name is
                    required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="middle-initial" style="margin: 10px;"
                matTooltip="Middle initial (optional)" matTooltipPosition="above">
                <mat-label>MI</mat-label>
                <input matInput formControlName="middleInitial" placeholder="MI">
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin: 10px;"
                matTooltip="Enter your legal last name as it appears on your ID" matTooltipPosition="above">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required placeholder="Last Name">
                <mat-error *ngIf="personalForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select a suffix (optional)"
                matTooltipPosition="above">
                <mat-label>Suffix</mat-label>
                <mat-select formControlName="suffix">
                    <mat-option value="">-- Select --</mat-option>
                    <mat-option value="Jr">Jr.</mat-option>
                    <mat-option value="Sr">Sr.</mat-option>
                    <mat-option value="II">II</mat-option>
                    <mat-option value="III">III</mat-option>
                    <mat-option value="IV">IV</mat-option>
                    <mat-option value="V">V</mat-option>
                    <mat-option value="VI">VI</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Other Personal Info -->
        <div class="form-row prefix-suffix">
            <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select a prefix (optional)"
                matTooltipPosition="above">
                <mat-label>Prefix</mat-label>
                <mat-select formControlName="prefix">
                    <mat-option value="">-- Select --</mat-option>
                    <mat-option value="Mr">Mr.</mat-option>
                    <mat-option value="Mrs">Mrs.</mat-option>
                    <mat-option value="Ms">Ms.</mat-option>
                    <mat-option value="Miss">Miss</mat-option>
                    <mat-option value="Dr">Dr.</mat-option>
                    <mat-option value="Prof">Prof.</mat-option>
                    <mat-option value="Rev">Rev.</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin: 10px; width: 211px;" matTooltip="Enter your date of birth"
                matTooltipPosition="above">
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="dob" required placeholder="MM/DD/YYYY" (input)="onDOBInput($event)"
                    appDateFormat>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-error>{{getDOBErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select your gender"
                matTooltipPosition="above">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                    <mat-option value="">-- Select --</mat-option>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Others">Others</mat-option>
                </mat-select>
                <mat-error *ngIf="personalForm.get('gender')?.hasError('required')">Gender is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select disability status (optional)"
                matTooltipPosition="above">
                <mat-label>Disability Status</mat-label>
                <mat-select formControlName="disabilityStatus">
                    <mat-option value="">-- Select --</mat-option>
                    <mat-option value="None">None</mat-option>
                    <mat-option value="Physical">Physical Disability</mat-option>
                    <mat-option value="Developmental">Developmental Disability</mat-option>
                    <mat-option value="Intellectual">Intellectual Disability</mat-option>
                    <mat-option value="Mental Health">Mental Health Condition</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Contact Info -->
        <h3>Contact Information</h3>
        <div formArrayName="phones">
            <div *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i" class="form-row">
                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select the type of phone number"
                    matTooltipPosition="above">
                    <mat-label>Phone Type</mat-label>
                    <mat-select formControlName="type" required>
                        <mat-option value="">-- Select --</mat-option>
                        <mat-option value="Mobile">Mobile</mat-option>
                        <mat-option value="Home">Landline</mat-option>
                        <mat-option value="Work">Work</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter the 10-digit phone number"
                    matTooltipPosition="above">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="number" required maxlength="12" placeholder="xxx-xxx-xxxx"
                        (input)="formatPhoneNumber($event, i)">
                    <mat-error *ngIf="phone.get('number')?.hasError('required')">Phone Number is required</mat-error>
                    <mat-error *ngIf="phone.get('number')?.hasError('pattern')">Enter a valid phone number
                        (xxx-xxx-xxxx)</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter the extension number (if any)"
                    matTooltipPosition="above">
                    <mat-label>Extension</mat-label>
                    <input matInput formControlName="extension" placeholder="Extension">
                </mat-form-field>

                <mat-checkbox formControlName="isPrimary">Is Primary</mat-checkbox>

                <button mat-icon-button color="warn" type="button" (click)="removePhone(i)" *ngIf="phones.length > 1">
                    <mat-icon>delete</mat-icon>
                </button>


                <button mat-icon-button color="primary" type="button" (click)="addPhone()"
                    *ngIf="i === phones.length - 1">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </div>

        <!-- Email -->
        <mat-form-field appearance="fill" class="full-width email-large"
            style="margin: 10px; min-width: 400px; width: 45%;" matTooltip="Enter your email address"
            matTooltipPosition="above">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" required placeholder="Email Address">
            <mat-error *ngIf="personalForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="personalForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
        </mat-form-field>

        <!-- Addresses -->
        <h3>Address Information</h3>
        <div class="address-section">
            <div [formGroup]="residentialAddress">
                <h4 style="margin-left: 10px;">Residential Address</h4>
                <mat-form-field appearance="fill" style="margin: 10px;"
                    matTooltip="Enter the first line of your residential address" matTooltipPosition="above">
                    <mat-label>Address Line 1</mat-label>
                    <input matInput formControlName="address1" required placeholder="Address Line 1">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;"
                    matTooltip="Enter the second line of your residential address (optional)"
                    matTooltipPosition="above">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput formControlName="address2" placeholder="Address Line 2">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your city"
                    matTooltipPosition="above">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required placeholder="City">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select your state"
                    matTooltipPosition="above">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" required>
                        <mat-option value="">-- Select State --</mat-option>
                        <mat-option value="TX">Texas</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your zip code"
                    matTooltipPosition="above">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zip" required placeholder="Zip Code">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your county"
                    matTooltipPosition="above">
                    <mat-label>County</mat-label>
                    <input matInput formControlName="county" required placeholder="County">
                </mat-form-field>
            </div>

            <mat-checkbox formControlName="mailingSame">Mailing Address - Same as Residential?</mat-checkbox>

            <div [formGroup]="mailingAddress">
                <h4 style="margin-left: 10px;">Mailing Address</h4>
                <mat-form-field appearance="fill" style="margin: 10px;"
                    matTooltip="Enter the first line of your mailing address" matTooltipPosition="above">
                    <mat-label>Address Line 1</mat-label>
                    <input matInput formControlName="address1" required placeholder="Address Line 1">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;"
                    matTooltip="Enter the second line of your mailing address (optional)" matTooltipPosition="above">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput formControlName="address2" placeholder="Address Line 2">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your city"
                    matTooltipPosition="above">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required placeholder="City">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Select your state"
                    matTooltipPosition="above">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" required>
                        <mat-option value="">-- Select State --</mat-option>
                        <mat-option value="TX">Texas</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your zip code"
                    matTooltipPosition="above">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zip" required placeholder="Zip Code">
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 10px;" matTooltip="Enter your county"
                    matTooltipPosition="above">
                    <mat-label>County</mat-label>
                    <input matInput formControlName="county" required placeholder="County">
                </mat-form-field>
            </div>
        </div>

        <!-- Assistance Type Selection -->
        <h3>Assistance Type</h3>
        <div class="assistance-section">
            <p style="margin-left: 10px;"><strong>What type of assistance is requested?</strong></p>
            <div class="assistance-options" role="group" aria-labelledby="assistance-types-label">
                <div class="assistance-option" style="margin: 10px;">
                    <mat-slide-toggle formControlName="energyAssistance" aria-label="Toggle Energy Assistance (CEAP)"
                        matTooltip="Provides help with energy bills and utility costs" matTooltipPosition="above">
                        <span class="assistance-title">Energy Assistance (CEAP)</span>
                    </mat-slide-toggle>
                </div>
                <div class="assistance-option" style="margin: 10px;">
                    <mat-slide-toggle formControlName="heatingCoolingAssistance"
                        aria-label="Toggle Heating Cooling Unit Assistance (CEAP)"
                        matTooltip="Provides help with heating and cooling equipment repairs or replacement"
                        matTooltipPosition="above">
                        <span class="assistance-title">Heating Cooling Unit Assistance (CEAP)</span>
                    </mat-slide-toggle>
                </div>
                <div class="assistance-option" style="margin: 10px;">
                    <mat-slide-toggle formControlName="supportiveServicesAssistance"
                        aria-label="Toggle Supportive Services Assistance (CSBG)"
                        matTooltip="Provides additional support services to help achieve self-sufficiency"
                        matTooltipPosition="above">
                        <span class="assistance-title">Supportive Services Assistance (CSBG)</span>
                    </mat-slide-toggle>
                </div>
                <div class="assistance-option" style="margin: 10px;">
                    <mat-slide-toggle formControlName="weatherizationAssistance"
                        aria-label="Toggle Weatherization Assistance"
                        matTooltip="Provides home improvements to reduce energy costs and improve efficiency"
                        matTooltipPosition="above">
                        <span class="assistance-title">Weatherization Assistance</span>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button mat-flat-button color="accent" type="button" (click)="onSaveAndContinue()"
                [disabled]="!personalForm.valid">
                Save & Continue
            </button>
        </div>


    </form>
</mat-card>